# Parameters List

These are the parameters for each of the templates: `{{ templates | sort | join('`, `')}}`

{% for name in templates | sort%}
{% set template = templates[name] %}
# Template: `{{ name }}`

| Name | required | default | description |
| ---- | -------- | ------- | ----------- |
{% for parm in template.parameters -%}
| `{{ parm.name }}` | {{ parm.required | default(False) | ternary('Y', '-') }} | {{ parm.value | default(' ') }} | {{ parm.description }} |
{% endfor %}

{% endfor %}
